@page
@model SummerPortfolioProject.Pages.DeleteModel
@using Microsoft.Extensions.Primitives
@using MySqlConnector
@{
    if (Model.RequirePermissions(moderatePortfolios: true, modifyPortfolios: true))
    {
        Model.SqlConnection.Open();
        using MySqlCommand skillsCommand = new("DELETE FROM portfolio_skills WHERE portfolio_id=@id;", Model.SqlConnection);
        _ = skillsCommand.Parameters.AddWithValue("id", Request.Query["id"].ToString());
        _ = skillsCommand.ExecuteNonQuery();
        using MySqlCommand command = new("DELETE FROM portfolios WHERE id=@id;", Model.SqlConnection);
        _ = command.Parameters.AddWithValue("id", Request.Query["id"].ToString());
        int affectedRows = command.ExecuteNonQuery();
        Model.SqlConnection.Close();
        if (affectedRows > 0)
        {
            if (Request.Query["RedirectTo"] == StringValues.Empty)
            {
                Response.Redirect("/ModeratePortfolios");
            }
            else
            {
                Response.Redirect(Request.Query["RedirectTo"]);
            }
        }
        else
        {
            <div class="alert alert-danger">
                The requested portfolio was not found.
            </div>
        }
    }
}
