@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>From here you can either <a asp-page="/SubmitPortfolio">submit a portfolio</a> or <a asp-page="/StaffLogin">login as a staff member</a>.</p>
</div>
