@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    if (@Model.LoggedInUsername is null)
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>From here you can either <a asp-page="/SubmitPortfolio">submit a portfolio</a> or <a asp-page="/StaffLogin">login as a staff member</a>.</p>
        </div>
    }
    else
    {
        if (Request.Query["newauth"] == "1")
        {
            <div class="alert alert-success">
			    You have successfully logged in as @Model.LoggedInUsername
		    </div>
        }
        <div class="text-center">
            <h1 class="display-4">Welcome, @Model.LoggedInUsername</h1>
            <p>You have permission to perform the following tasks:</p>
            <ul>
                <li>To be implemented</li>
            </ul>
        </div>
    }
}

