@page
@model SummerPortfolioProject.Pages.Error.ForbiddenModel
@{
    ViewData["Title"] = "Error - Forbidden";
}

<div class="text-center">
    <h1 class="display-4">Error - Forbidden</h1>
    <p>You do not have permission to access this page.</p>
</div>

